<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.wh.mapper.GoodsBacketMapper">


    <!-- 查找详情 2019-12-10-->
    <select id="getById" resultType="com.apl.wms.wh.po.GoodsBacketPo">
        SELECT
        id, 
        backet_no, 
        desc, 
        inner_org_id
        FROM
        goods_backet
        where
            id = #{id}
    </select>

    <!-- 查找列表 2019-12-10-->
    <select id="getList" resultType="com.apl.wms.wh.vo.GoodsBacketListVo">
        SELECT
        id, 
        backet_no, 
        desc, 
        inner_org_id
        FROM
        goods_backet
        where
        1 = 1
    </select>

</mapper>
