<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.wh.mapper.InOrderServiceMapper">


    <!-- 查找详情 2019-12-11-->
    <select id="getById" resultType="com.apl.wms.wh.vo.InOrderServiceInfoVo">
        SELECT
        id, 
        commodity_item_id, 
        service_id, 
        service_name, 
        service_remark, 
        service_status, 
        inner_org_id
        FROM
        in_order_service
        where
            id = #{id}
    </select>

    <!-- 查找列表 2019-12-11-->
    <select id="getList" resultType="com.apl.wms.wh.vo.InOrderServiceListVo">
        SELECT
        id, 
        commodity_item_id, 
        service_id, 
        service_name, 
        service_remark, 
        service_status, 
        inner_org_id
        FROM
        in_order_service
        where
        1 = 1
    </select>

</mapper>
