<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.wh.mapper.OutOrderMapper">


    <!-- 查找详情 2019-12-11-->
    <select id="getById" resultType="com.apl.wms.wh.vo.OutOrderInfoVo">
        SELECT
        id, 
        customer_id, 
        order_no, 
        order_status, 
        order_from, 
        ec_code, 
        ec_order_no, 
        sotre_id, 
        wh_id, 
        cr_time, 
        up_time, 
        inner_org_id
        FROM
        out_order
        where
            id = #{id}
    </select>

    <!-- 查找列表 2019-12-11-->
    <select id="getList" resultType="com.apl.wms.wh.vo.OutOrderListVo">
        SELECT
        id, 
        customer_id, 
        order_no, 
        order_status, 
        order_from, 
        ec_code, 
        ec_order_no, 
        sotre_id, 
        wh_id, 
        cr_time, 
        up_time, 
        inner_org_id
        FROM
        out_order
        where
        1 = 1
    </select>

</mapper>
