<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.wh.mapper.WhShelvesMapper">


    <!-- 查找详情 2019-12-10-->
    <select id="getById" resultType="com.apl.wms.wh.po.WhShelvesPo">
        SELECT
        id, 
        shelves_no, 
        shelves_spec_id, 
        wh_zone_id, 
        row, 
        col, 
        descr, 
        inner_org_id
        FROM
        wh_shelves
        where
            id = #{id}
    </select>

    <!-- 查找列表 2019-12-10-->
    <select id="getList" resultType="com.apl.wms.wh.vo.WhShelvesListVo">
        SELECT
        id, 
        shelves_no, 
        shelves_spec_id, 
        wh_zone_id, 
        row, 
        col, 
        descr, 
        inner_org_id
        FROM
        wh_shelves
        where
        1 = 1
    </select>

</mapper>
