package ${cfg.packageName}.service;

import ${cfg.po}.${entity}Po;
import ${cfg.vo}.${entity}ListVo;
import ${cfg.vo}.${entity}InfoVo;
import com.apl.lib.pojo.dto.PageDto;
import com.apl.lib.utils.ResultUtil;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
/**
 * <p>
 * $!{table.comment} service接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName}{

        /**
         * @Desc: 新增$!{table.comment}
         * @author ${author}
         * @since ${date}
         */
        ResultUtil<Long> add(${entity}Po ${table.entityPath}Po);


        /**
         * @Desc: 更新$!{table.comment}
         * @author ${author}
         * @since ${date}
         */
        ResultUtil<Boolean> updById(${entity}Po ${table.entityPath}Po);


        /**
         * @Desc: 删除$!{table.comment}
         * @author ${author}
         * @since ${date}
         */
        ResultUtil<Boolean> delById(Long id);


        /**
         * @Desc: 获取详细
         * @author ${author}
         * @since ${date}
         */
        ResultUtil<${entity}InfoVo> selectById(Long id);


        /**
         * @Desc: 分页查找列表
         * @author ${author}
         * @since ${date}
         */
        ResultUtil<Page<${entity}ListVo>>getList(PageDto pageDto, ${entity}KeyDto keyDto);

}