package ${cfg.packageName}.service.impl;

import com.apl.lib.pojo.dto.PageDto;
import com.apl.lib.utils.ResultUtil;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import com.apl.lib.constants.CommonStatusCode;

import ${cfg.packageName}.${table.mapperName};
import ${cfg.packageName}.${table.serviceName};
import ${superServiceImplClassPackage};

import ${cfg.po}.${entity}Po;
import ${cfg.vo}.${entity}ListVo;
import ${cfg.vo}.${entity}InfoVo;
import ${cfg.dto}.${entity}KeyDto;

import java.util.List;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;


/**
 * <p>
 * $!{table.comment} service实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
@Slf4j
public class ${table.serviceImplName} implements ${table.serviceName} {

    //状态code枚举
    /*enum ${table.serviceName}Code {

            ;

            private String code;
            private String msg;

            ${table.serviceName}Code(String code, String msg) {
                 this.code = code;
                 this.msg = msg;
            }
        }*/

    @Autowired
    ${entity}Dao ${table.entityPath}Dao;

    @Override
    public ResultUtil<Long> add(${entity}AddDto ${table.entityPath}AddDto){

    #if(${cfg.exists_fields})
        this.exists(0L, #foreach($field in ${cfg.exists_fields})${table.entityPath}.${field.getMethodName}#if($foreach.hasNext), #end #end);
    #end

        ${entity}Po ${table.entityPath}Po = new ${entity}Po();
        BeanUtil.copyProperties(${table.entityPath}AddDto, ${table.entityPath}Po);

        Integer flag = transferDao.add(${table.entityPath}Po);
        if(flag.equals(1)){
            return ResultUtil.APPRESULT(CommonStatusCode.SAVE_SUCCESS , ${table.entityPath}Po.getId());
        }

        return ResultUtil.APPRESULT(CommonStatusCode.SAVE_FAIL , null);
    }


    @Override
    public ResultUtil<Boolean> updById(${entity}UpdDto ${table.entityPath}UpdDto){

    #if(${cfg.exists_fields})
        this.exists(${table.entityPath}.getId(), #foreach($field in ${cfg.exists_fields})${table.entityPath}.${field.getMethodName}#if($foreach.hasNext), #end #end);
    #end

        ${entity}Po ${table.entityPath}Po = new ${entity}Po();
        BeanUtil.copyProperties(${table.entityPath}UpdDto, ${table.entityPath}Po);

        Integer flag = transferDao.updById(${table.entityPath}Po);
        if(flag.equals(1)){
            return ResultUtil.APPRESULT(CommonStatusCode.SAVE_SUCCESS , true);
        }

        return ResultUtil.APPRESULT(CommonStatusCode.SAVE_FAIL , false);
    }


    @Override
    public ResultUtil<Boolean> delById(Long id){

        Integer flag = transferDao.delById(id);
        if(flag > 0){
            return ResultUtil.APPRESULT(CommonStatusCode.DEL_SUCCESS , true);
        }

        return ResultUtil.APPRESULT(CommonStatusCode.DEL_FAIL , false);
    }


    @Override
    public ResultUtil<${entity}InfoVo> selectById(Long id){

        ${entity}InfoVo ${table.entityPath}InfoVo = transferDao.selectById(id);

        return ResultUtil.APPRESULT(CommonStatusCode.GET_SUCCESS, ${table.entityPath}InfoVo);
    }


    @Override
    public ResultUtil<Page<${entity}ListVo>> getList(PageDto pageDto, ${entity}KeyDto keyDto){

        Page<${entity}ListVo> page = new Page();
        page.setCurrent(pageDto.getPageIndex());
        page.setSize(pageDto.getPageSize());

        List<${entity}ListVo> list = transferDao.getList(page , keyDto);
        page.setRecords(list);

        return ResultUtil.APPRESULT(CommonStatusCode.GET_SUCCESS , page);
    }


#if(${cfg.exists_fields})
    void exists(Long id, #foreach($field in ${cfg.exists_fields}) String ${field.name}#if($foreach.hasNext), #end #end) {

        List<${entity}InfoVo> list = transferDao.exists(id, #foreach($field in ${cfg.exists_fields})${field.name}#if($foreach.hasNext), #end #end);
        if (!CollectionUtils.isEmpty(list)) {
        for(${entity}InfoVo  ${table.entityPath}InfoVo : list) {

    #foreach($field in ${cfg.exists_fields})
            if(${table.entityPath}InfoVo.${field.getMethodName}.equals(${field.name}))
                throw new AplException("${field.upperCaseName}_EXIST", "${field.name}已经存在");
    #end
        }
      }
    }
#end
}