package ${cfg.packageName}.service;

import ${cfg.po}.${entity}Po;
import ${cfg.vo}.${entity}ListVo;
import ${cfg.vo}.${entity}InfoVo;
import ${cfg.dto}.${entity}KeyDto;
import ${superServiceClassPackage};
import com.apl.lib.pojo.dto.PageDto;
import com.apl.lib.utils.ResultUtils;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
/**
 * <p>
 * $!{table.comment} service接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}Po> {

        /**
         * @Desc: 添加一个${entity}Po实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Long> add(${entity}Po ${table.entityPath}Po);


        /**
         * @Desc: 根据id 更新一个${entity}Po 实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Boolean> updById(${entity}Po ${table.entityPath}Po);


        /**
         * @Desc: 根据id 查找一个${entity}Po 实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Boolean> delById(Long id);


        /**
         * @Desc: 根据id 查找一个 ${entity}Po 实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<${entity}InfoVo> selectById(Long id);


        /**
         * @Desc: 分页查找 ${entity}Po 列表
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Page<${entity}ListVo>>getList(PageDto pageDto, ${entity}KeyDto keyDto);

}