package ${package.Controller};


#if(${restControllerStyle})
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired;
import com.apl.common.pojo.dto.PageDto;
import org.springframework.web.bind.annotation.*;
import ${package.Service}.${table.serviceName};
import ${cfg.po}.${entity}Po;
import ${cfg.vo}.${entity}ListVo;
import ${cfg.vo}.${entity}InfoVo;
import ${cfg.dto}.${entity}KeyDto;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.apl.common.utils.ResultUtils;
import com.apl.common.validate.ApiParamValidate;
import javax.validation.constraints.Min;

/**
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping("/${table.name}")
@Validated
@Api(value = "$!{table.comment}",tags = "$!{table.comment}")
@Slf4j
public class ${table.controllerName} {

    @Autowired
    public ${table.serviceName} ${table.entityPath}Service;


    @PostMapping(value = "/add")
    @ApiOperation(value =  "添加" , notes = "添加 ")
    public ResultUtils<Integer> add(@Validated ${entity}Po ${table.entityPath}) {

        return ${table.entityPath}Service.add(${table.entityPath});
    }


    @PostMapping(value = "/upd")
    @ApiOperation(value =  "更新" , notes = "更新")
    public ResultUtils<Boolean> updById(@Validated ${entity}Po ${table.entityPath}Po) {

        ApiParamValidate.notEmpty("id", ${table.entityPath}Po.getId());

        return ${table.entityPath}Service.updById(${table.entityPath}Po);
    }


    @PostMapping(value = "/del")
    @ApiOperation(value =  "删除" , notes = "删除")
    @ApiImplicitParam(name = "id",value = " id",required = true  , paramType = "query")
    public ResultUtils<Boolean> delById(@Min(value = 1 , message = "id不能小于 1") Integer id) {

        return ${table.entityPath}Service.delById(id);
    }


    @PostMapping(value = "/get")
    @ApiOperation(value =  "获取详细" , notes = "获取详细")
    @ApiImplicitParam(name = "id",value = "id",required = true  , paramType = "query")
    public ResultUtils<${entity}InfoVo> getById(@Min(value = 1 , message = "id不能小于 1") Integer id) {

        return ${table.entityPath}Service.selectById(id);
    }


    @PostMapping("/get-list")
    @ApiOperation(value =  "分页查找" , notes = "分页查找")
    public ResultUtils<Page<${entity}ListVo>> getList(PageDto pageDto, @Validated ${entity}KeyDto keyDto) {

        return ${table.entityPath}Service.getList(pageDto , keyDto);
    }

}
