package ${package.Mapper};

import ${cfg.po}.${entity}Po;
import ${cfg.vo}.${entity}ListVo;
import ${cfg.vo}.${entity}InfoVo;
import ${cfg.dto}.${entity}KeyDto;
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Param;
import java.util.List;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}Po>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}Po> {

    /**
     * @Desc: 根据id 查找详情
     * @Author: ${cfg.author}
     * @Date: ${cfg.nowTime}
     */
    public ${entity}InfoVo getById(@Param("id") Integer id);

    /**
     * @Desc: 查找列表
     * @Author: ${cfg.author}
     * @Date: ${cfg.nowTime}
     */
    List<${entity}ListVo> getList(Page page, @Param("kd") ${entity}KeyDto keyDto);


    #if(${cfg.exists_fields})
    /**
     * @Desc: 检测记录是否重复
     * @Author: ${cfg.author}
     * @Date: ${cfg.nowTime}
     */
    List<${entity}InfoVo> exists(@Param("id") Long id, #foreach($field in ${cfg.exists_fields}) @Param("${field.name}") String ${field.name}#if($foreach.hasNext), #end #end);
    #end

}
#end
