package ${package.Service};
import com.apl.common.utils.ResultUtils;

import ${cfg.po}.${entity}Po;
import ${cfg.vo}.${entity}ListVo;
import ${cfg.dto}.${entity}KeyDto;
import ${superServiceClassPackage};
import com.apl.common.pojo.dto.PageDto;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}Po>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}Po> {

        /**
         * @Desc: 添加一个${entity}Po实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Integer> add(${entity}Po ${table.entityPath});


        /**
         * @Desc: 根据id 更新一个${entity}Po 实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Boolean> updById(${entity}Po ${table.entityPath});


        /**
         * @Desc: 根据id 查找一个${entity}Po 实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Boolean> delById(Long id);


        /**
         * @Desc: 根据id 查找一个 ${entity}Po 实体
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<${entity}Po> selectById(Long id);


        /**
         * @Desc: 分页查找 ${entity}Po 列表
         * @author ${author}
         * @since ${date}
         */
        ResultUtils<Page<${entity}ListVo>>getList(PageDto pageDto, ${entity}KeyDto keyDto);

}
#end
