<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.order.mapper.InOrderAttachmentMapper">



    <!-- 查找详情 2019-12-16-->
    <select id="getById" resultType="com.apl.wms.order.vo.InOrderAttachmentInfoVo">
        SELECT
          order_id, 
          in_carrier, 
          in_carrier_no, 
          in_freight, 
          in_freight_currency, 
          in_freight_pay, 
          in_contact, 
          in_phone, 
          in_door_addr, 
          in_door_appointment, 
          in_door_remark, 
          to_desc_logistics, 
          to_desc_carrier, 
          dest_contact, 
          dest_tel, 
          dest_phone, 
          dest_email, 
          dest_contry_code, 
          dest_zip_code, 
          dest_city, 
          dest_company_name, 
          dest_street, 
          dest_address1, 
          dest_address2, 
          dest_address3, 
          inner_org_id
        FROM
          in_order_attachment
        where
          order_id = #{id}
    </select>

    <!-- 查找列表 2019-12-16-->
    <select id="getList" resultType="com.apl.wms.order.vo.InOrderAttachmentListVo">
        SELECT
           order_id, 
           in_carrier, 
           in_carrier_no, 
           in_freight, 
           in_freight_currency, 
           in_freight_pay, 
           in_contact, 
           in_phone, 
           in_door_addr, 
           in_door_appointment, 
           in_door_remark, 
           to_desc_logistics, 
           to_desc_carrier, 
           dest_contact, 
           dest_tel, 
           dest_phone, 
           dest_email, 
           dest_contry_code, 
           dest_zip_code, 
           dest_city, 
           dest_company_name, 
           dest_street, 
           dest_address1, 
           dest_address2, 
           dest_address3, 
           inner_org_id
        FROM
           in_order_attachment
        where
        1 = 1
        order by id desc
    </select>


</mapper>
