<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.order.mapper.InOrderMapper">



    <!-- 查找详情 2019-12-16-->
    <select id="getById" resultType="com.apl.wms.order.vo.InOrderInfoVo">
        SELECT
          id, 
          order_type, 
          order_no, 
          customer_id, 
          customer_name, 
          goods_from, 
          supplier_id, 
          start_wh_id, 
          dest_wh_id, 
          start_wh_operator, 
          dest_wh_operator, 
          send_parties, 
          in_wh_way, 
          order_status, 
          descr, 
          main_id, 
          cr_time, 
          up_time, 
          inner_org_id
        FROM
          in_order
        where
          id = #{id}
    </select>

    <!-- 查找列表 2019-12-16-->
    <select id="getList" resultType="com.apl.wms.order.vo.InOrderListVo">
        SELECT
           id, 
           order_type, 
           order_no, 
           customer_id, 
           customer_name, 
           goods_from, 
           supplier_id, 
           start_wh_id, 
           dest_wh_id, 
           start_wh_operator, 
           dest_wh_operator, 
           send_parties, 
           in_wh_way, 
           order_status, 
           descr, 
           main_id, 
           cr_time, 
           up_time, 
           inner_org_id
        FROM
           in_order
        where
        1 = 1
        order by id desc
    </select>


</mapper>
